.sponsor {
  background-color: #fff;
}

.sponsor h1 {
  font-style: normal;
  font-weight: 600;
  padding-top: 96px;
  font-size: 47px;
  line-height: 120%;
  text-align: center;
  color: #4a4a4a;
}

.sponsor p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  margin-top: 24px;
  margin-bottom: 8px;
  text-align: center;
  color: #686868;
}

.sponsor img {
  width: 158px;
  height: 158px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .sponsor img {
    width: 100%;
    height: auto;
  }
}
